
<div *ngIf="socioDatPer">
    <h2><span jhiTranslate="demojhipsterApp.socioDatPer.detail.title">Socio Dat Per</span> {{socioDatPer.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="demojhipsterApp.socioDatPer.iden">Iden</span></dt>
        <dd>
            <span>{{socioDatPer.iden}}</span>
        </dd>
        <dt><span jhiTranslate="demojhipsterApp.socioDatPer.profesion">Profesion</span></dt>
        <dd>
            <span>{{socioDatPer.profesion}}</span>
        </dd>
        <dt><span jhiTranslate="demojhipsterApp.socioDatPer.direccion">Direccion</span></dt>
        <dd>
            <span>{{socioDatPer.direccion}}</span>
        </dd>
        <dt><span jhiTranslate="demojhipsterApp.socioDatPer.comuna">Comuna</span></dt>
        <dd>
            <span>{{socioDatPer.comuna}}</span>
        </dd>
        <dt><span jhiTranslate="demojhipsterApp.socioDatPer.ciudad">Ciudad</span></dt>
        <dd>
            <span>{{socioDatPer.ciudad}}</span>
        </dd>
        <dt><span jhiTranslate="demojhipsterApp.socioDatPer.region">Region</span></dt>
        <dd>
            <span>{{socioDatPer.region}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'socio-dat-per-sapweb/'+ socioDatPer.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
