<div>
    <h2>
        <span jhiTranslate="demojhipsterApp.socioDatPer.home.title">Socio Dat Pers</span>
        <button class="btn btn-primary float-right jh-create-entity create-socio-dat-per-sapweb" [routerLink]="['/', { outlets: { popup: ['socio-dat-per-sapweb-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="demojhipsterApp.socioDatPer.home.createLabel">
            Create new Socio Dat Per
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="socioDatPers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="demojhipsterApp.socioDatPer.iden">Iden</span></th>
            <th><span jhiTranslate="demojhipsterApp.socioDatPer.profesion">Profesion</span></th>
            <th><span jhiTranslate="demojhipsterApp.socioDatPer.direccion">Direccion</span></th>
            <th><span jhiTranslate="demojhipsterApp.socioDatPer.comuna">Comuna</span></th>
            <th><span jhiTranslate="demojhipsterApp.socioDatPer.ciudad">Ciudad</span></th>
            <th><span jhiTranslate="demojhipsterApp.socioDatPer.region">Region</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let socioDatPer of socioDatPers ;trackBy: trackId">
                <td><a [routerLink]="['../socio-dat-per-sapweb', socioDatPer.id ]">{{socioDatPer.id}}</a></td>
                <td>{{socioDatPer.iden}}</td>
                <td>{{socioDatPer.profesion}}</td>
                <td>{{socioDatPer.direccion}}</td>
                <td>{{socioDatPer.comuna}}</td>
                <td>{{socioDatPer.ciudad}}</td>
                <td>{{socioDatPer.region}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../socio-dat-per-sapweb', socioDatPer.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'socio-dat-per-sapweb/'+ socioDatPer.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'socio-dat-per-sapweb/'+ socioDatPer.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
