<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myModificacionLabel" jhiTranslate="demojhipsterApp.modificacion.home.createOrEditLabel">Create or edit a Modificacion</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!modificacion.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="modificacion.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demojhipsterApp.modificacion.rut" for="field_rut">Rut</label>
            <input type="number" class="form-control" name="rut" id="field_rut"
                [(ngModel)]="modificacion.rut" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demojhipsterApp.modificacion.dv" for="field_dv">Dv</label>
            <input type="text" class="form-control" name="dv" id="field_dv"
                [(ngModel)]="modificacion.dv" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demojhipsterApp.modificacion.extracto" for="field_extracto">Extracto</label>
            <input type="text" class="form-control" name="extracto" id="field_extracto"
                [(ngModel)]="modificacion.extracto" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demojhipsterApp.modificacion.nombre" for="field_nombre">Nombre</label>
            <input type="text" class="form-control" name="nombre" id="field_nombre"
                [(ngModel)]="modificacion.nombre" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demojhipsterApp.modificacion.fecpub" for="field_fecpub">Fecpub</label>
            <input type="text" class="form-control" name="fecpub" id="field_fecpub"
                [(ngModel)]="modificacion.fecpub" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demojhipsterApp.modificacion.nomfan" for="field_nomfan">Nomfan</label>
            <input type="text" class="form-control" name="nomfan" id="field_nomfan"
                [(ngModel)]="modificacion.nomfan" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demojhipsterApp.modificacion.feconst" for="field_feconst">Feconst</label>
            <input type="text" class="form-control" name="feconst" id="field_feconst"
                [(ngModel)]="modificacion.feconst" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demojhipsterApp.modificacion.tipconst" for="field_tipconst">Tipconst</label>
            <input type="text" class="form-control" name="tipconst" id="field_tipconst"
                [(ngModel)]="modificacion.tipconst" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demojhipsterApp.modificacion.duracion" for="field_duracion">Duracion</label>
            <input type="text" class="form-control" name="duracion" id="field_duracion"
                [(ngModel)]="modificacion.duracion" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demojhipsterApp.modificacion.fecterm" for="field_fecterm">Fecterm</label>
            <input type="text" class="form-control" name="fecterm" id="field_fecterm"
                [(ngModel)]="modificacion.fecterm" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demojhipsterApp.modificacion.cappag" for="field_cappag">Cappag</label>
            <input type="text" class="form-control" name="cappag" id="field_cappag"
                [(ngModel)]="modificacion.cappag" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demojhipsterApp.modificacion.capsus" for="field_capsus">Capsus</label>
            <input type="text" class="form-control" name="capsus" id="field_capsus"
                [(ngModel)]="modificacion.capsus" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demojhipsterApp.modificacion.nacciones" for="field_nacciones">Nacciones</label>
            <input type="text" class="form-control" name="nacciones" id="field_nacciones"
                [(ngModel)]="modificacion.nacciones" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demojhipsterApp.modificacion.notariorut" for="field_notariorut">Notariorut</label>
            <input type="number" class="form-control" name="notariorut" id="field_notariorut"
                [(ngModel)]="modificacion.notariorut" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demojhipsterApp.modificacion.notariodv" for="field_notariodv">Notariodv</label>
            <input type="text" class="form-control" name="notariodv" id="field_notariodv"
                [(ngModel)]="modificacion.notariodv" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demojhipsterApp.modificacion.directorrut" for="field_directorrut">Directorrut</label>
            <input type="number" class="form-control" name="directorrut" id="field_directorrut"
                [(ngModel)]="modificacion.directorrut" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demojhipsterApp.modificacion.directordv" for="field_directordv">Directordv</label>
            <input type="text" class="form-control" name="directordv" id="field_directordv"
                [(ngModel)]="modificacion.directordv" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demojhipsterApp.modificacion.reprut" for="field_reprut">Reprut</label>
            <input type="number" class="form-control" name="reprut" id="field_reprut"
                [(ngModel)]="modificacion.reprut" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demojhipsterApp.modificacion.repdv" for="field_repdv">Repdv</label>
            <input type="text" class="form-control" name="repdv" id="field_repdv"
                [(ngModel)]="modificacion.repdv" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demojhipsterApp.modificacion.regcom" for="field_regcom">Regcom</label>
            <input type="text" class="form-control" name="regcom" id="field_regcom"
                [(ngModel)]="modificacion.regcom" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demojhipsterApp.modificacion.fojas" for="field_fojas">Fojas</label>
            <input type="text" class="form-control" name="fojas" id="field_fojas"
                [(ngModel)]="modificacion.fojas" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demojhipsterApp.modificacion.num" for="field_num">Num</label>
            <input type="text" class="form-control" name="num" id="field_num"
                [(ngModel)]="modificacion.num" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demojhipsterApp.modificacion.ano" for="field_ano">Ano</label>
            <input type="text" class="form-control" name="ano" id="field_ano"
                [(ngModel)]="modificacion.ano" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demojhipsterApp.modificacion.fpubconst" for="field_fpubconst">Fpubconst</label>
            <input type="text" class="form-control" name="fpubconst" id="field_fpubconst"
                [(ngModel)]="modificacion.fpubconst" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demojhipsterApp.modificacion.fecescrit" for="field_fecescrit">Fecescrit</label>
            <div class="input-group">
                <input id="field_fecescrit" type="text" class="form-control" name="fecescrit" ngbDatepicker  #fecescritDp="ngbDatepicker" [(ngModel)]="modificacion.fecescrit"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="fecescritDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demojhipsterApp.modificacion.estado" for="field_estado">Estado</label>
            <input type="number" class="form-control" name="estado" id="field_estado"
                [(ngModel)]="modificacion.estado" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demojhipsterApp.modificacion.grupo" for="field_grupo">Grupo</label>
            <input type="number" class="form-control" name="grupo" id="field_grupo"
                [(ngModel)]="modificacion.grupo" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demojhipsterApp.modificacion.fecact" for="field_fecact">Fecact</label>
            <div class="input-group">
                <input id="field_fecact" type="text" class="form-control" name="fecact" ngbDatepicker  #fecactDp="ngbDatepicker" [(ngModel)]="modificacion.fecact"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="fecactDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="demojhipsterApp.modificacion.fecactnom" for="field_fecactnom">Fecactnom</label>
            <div class="input-group">
                <input id="field_fecactnom" type="text" class="form-control" name="fecactnom" ngbDatepicker  #fecactnomDp="ngbDatepicker" [(ngModel)]="modificacion.fecactnom"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="fecactnomDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
